@(weekday: String, restaurants: List[Restaurant])

@main("Dagens lunch") {
	
	<div id="google_translate_element" style="float: right">
	</div>
	<script type="text/javascript">
		function googleTranslateElementInit() {
			new google.translate.TranslateElement({pageLanguage: 'sv', layout:	google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
		}
	</script>
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	
	<h1>@weekday.capitalize</h1>
	
	@restaurants.map { restaurant =>
	<h2><a href="@restaurant.url" class="notranslate">@restaurant.name</a></h2>
	
	<ul>
			@restaurant.dishes(weekday).map { dish =>
		<li>@dish</li>
			}
	</ul>
	}
}
