@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <meta name="google-translate-customization" content="ed9f4bd9b9f6c615-fc0fe94f70ff1226-gc86d68220495f334-f"></meta>
    </head>
    <body>
        @content
    </body>
</html>
